{% extends 'base.html' %}

{% block title %}
<title> Password Info </title>
{% endblock %}

{% block content %}
<h1> Password Info </h1>

 <div class="card">
     <div class="card-content">
        <span class="card-title">{{ password.services }}</span>
        <p> Username: {{ password.username }} </p>
        <p> Password: {{ password.password }}</p>
     </div>
     <div class="'card-action">
        <a href="{% url 'password_update'  password.id %}"> UPDATE </a>
        <a href="{% url 'password_delete'  password.id %}"> DELETE </a>
        <button onclick="history.back()">Go Back</button>
      </div>
 </div>

{% endblock %}


