{% extends 'base.html' %}

{% block title %}
<title> Password Cards  </title>
{% endblock %}

{% block content %}
<h1> Password Cards </h1>

{% for password in passwords %}
<a href="{% url 'passwords_detail' passeord.id  %}">
 <div class="card">
     <div class="card-content">
        <span class="card-title">{{ password.services }}</span>
        <!-- <p> Username: {{ password.username }} </p>
        <p> Password: {{ password.password }}</p> -->
     </div>
 </div>

</a>
 {% endfor %}

{% endblock %}


